In [43]:
import csv
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://in.indeed.com/jobs?q=php%20developer&l=Tamil%20Nadu'

In [3]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')

In [22]:
role = []
companies = []
locations = []
salary = []
payload = {}

In [23]:
x = soup.find_all('a','fs-unmask')

In [35]:
# s = soup.findAll('a','fs-unmask')
for a in soup.findAll('a','fs-unmask'):
    title = a.findAll('div','singleLineTitle')
    for n in title:
        if n is not None:
            role.append(n.text.replace("new",""))
        else:
            role.append('0')
    for c in a.findAll('span','companyName'):
        if c is not None:
            companies.append(c.text)
        else:
            companies.append('0')
            
    for l in a.findAll('div','companyLocation'):
        if l is not None:
            locations.append(l.text)
        else:
            locations.append('0')

    for sal in a.findAll('span', 'salary-snippet'):
        print(sal.text)
        print("****")
        if sal is not None:
            salary.append(sal.text)
        else:
            salary.append('0')

₹20,000 - ₹40,000 a month
****
₹25,000 - ₹50,000 a month
****
₹3,000 a month
****
₹25,000 a month
****
₹5,00,000 - ₹8,00,000 a year
****
₹1,00,000 - ₹1,50,000 a month
****
₹35,000 - ₹65,000 a month
****
₹7,000 - ₹10,000 a month
****
₹35,000 a month
****
₹3,00,000 - ₹10,00,000 a year
****
₹12,000 a month
****
₹50,000 a month
****

In [50]:
# s = soup.findAll('a','fs-unmask')
import pandas as pd
for a in soup.findAll('a','fs-unmask'):
    title = a.findAll('div','singleLineTitle')
    for n in title:
        role.append(n.text.replace("new",""))
        df_role=n.text.replace("new","")
        
    for c in a.findAll('span','companyName'):
        companies.append(c.text)
        df_com=c.text
            
    for l in a.findAll('div','companyLocation'):
        locations.append(l.text)
        df_loc=l.text

    for sal in a.findAll('span', 'salary-snippet'):
        salary.append(sal.text)
        df_sal=sal.text
        
# df = pd.DataFrame({'Role':role,'Company':companies, 'Location':locations})

In [83]:
data=''
payload={}
df = pd.DataFrame({'Role':[],'Company':[], 'Location':[], 'Salary':[]})
s = soup.findAll('a','fs-unmask')
for a in s:
    for n in a.findAll('div','singleLineTitle'):
        titles.append(n.text.replace("new",""))
        payload['Role']=n.text.replace("new","")

    for c in a.findAll('span','companyName'):
        companies.append(c.text)
        payload['Company']=c.text
        
    
    for l in a.findAll('div','companyLocation'):
        locations.append(l.text)
        payload['Location']=l.text

    for sal in a.findAll('span', 'salary-snippet'):
        salary.append(sal.text)
        payload['Salary']=sal.text
    print(payload)
    df = df.append(payload, ignore_index = True)
    print('**************')

{'Role': 'PHP Laravel Developer', 'Company': 'Macronimous LLP', 'Location': 'Coimbatore, Tamil Nadu•Remote', 'Salary': '₹20,000 - ₹40,000 a month'}
**************
{'Role': 'Senior PHP Developer', 'Company': 'Total AI Systems LLC', 'Location': 'Chennai, Tamil Nadu•Remote', 'Salary': '₹25,000 - ₹50,000 a month'}
**************
{'Role': 'PHP Developer', 'Company': 'Zerone Technologies', 'Location': 'Madurai, Tamil Nadu', 'Salary': '₹3,000 a month'}
**************
{'Role': 'PHP Web Developer', 'Company': 'STALLIONI NET SOLUTIONS', 'Location': 'Coimbatore, Tamil Nadu•Temporarily Remote', 'Salary': '₹25,000 a month'}
**************
{'Role': 'Junior Full Stack Developer (PHP needed)', 'Company': 'Alterfin CV', 'Location': 'Thanjavur, Tamil Nadu+1 location•Remote', 'Salary': '₹5,00,000 - ₹8,00,000 a year'}
**************
{'Role': 'Web Developer', 'Company': 'Bluez Infomatic solution', 'Location': 'Tiruppur, Tamil Nadu•Remote', 'Salary': '₹1,00,000 - ₹1,50,000 a month'}
**************
{'Role': 'PHP Developer', 'Company': 'Teknoturf Info Services Pvt Ltd', 'Location': 'Coimbatore, Tamil Nadu•Temporarily Remote', 'Salary': '₹35,000 - ₹65,000 a month'}
**************
{'Role': 'PHP Developer', 'Company': 'VarNik Systems Services', 'Location': 'Tiruchchirappalli, Tamil Nadu', 'Salary': '₹35,000 - ₹65,000 a month'}
**************
{'Role': 'PHP Web Developer (Trainee)', 'Company': 'Bootsgrid Pvt, Ltd', 'Location': 'Madurai, Tamil Nadu', 'Salary': '₹7,000 - ₹10,000 a month'}
**************
{'Role': 'Looking for PHP Developer', 'Company': 'Kasthuri Group', 'Location': 'Chennai, Tamil Nadu', 'Salary': '₹35,000 a month'}
**************
{'Role': 'Full Stack Engineer / PHP Developer', 'Company': 'Qbrik Information Technologies (P) Ltd', 'Location': 'Chennai, Tamil Nadu•Temporarily Remote', 'Salary': '₹3,00,000 - ₹10,00,000 a year'}
**************
{'Role': 'PHP Developer', 'Company': 'SSK WEB TECHNOLOGIES', 'Location': 'Erode, Tamil Nadu', 'Salary': '₹3,00,000 - ₹10,00,000 a year'}
**************
{'Role': 'PHP Developer', 'Company': 'Pentaxial Technologies', 'Location': 'Madurai City, Tamil Nadu•Temporarily Remote', 'Salary': '₹12,000 a month'}
**************
{'Role': 'Software Developer', 'Company': 'LateShipment.com', 'Location': 'Chennai, Tamil Nadu', 'Salary': '₹50,000 a month'}
**************
{'Role': 'PHP Developer-Work From Home', 'Company': 'AES Technologies Pvt. Ltd.', 'Location': 'Coimbatore, Tamil Nadu•Remote', 'Salary': '₹50,000 a month'}
**************

In [84]:
df

,Role,Company,Location,Salary
0,PHP Laravel Developer,Macronimous LLP,"Coimbatore, Tamil Nadu•Remote","₹20,000 - ₹40,000 a month"
1,Senior PHP Developer,Total AI Systems LLC,"Chennai, Tamil Nadu•Remote","₹25,000 - ₹50,000 a month"
2,PHP Developer,Zerone Technologies,"Madurai, Tamil Nadu","₹3,000 a month"
3,PHP Web Developer,STALLIONI NET SOLUTIONS,"Coimbatore, Tamil Nadu•Temporarily Remote","₹25,000 a month"
4,Junior Full Stack Developer (PHP needed),Alterfin CV,"Thanjavur, Tamil Nadu+1 location•Remote","₹5,00,000 - ₹8,00,000 a year"
5,Web Developer,Bluez Infomatic solution,"Tiruppur, Tamil Nadu•Remote","₹1,00,000 - ₹1,50,000 a month"
6,PHP Developer,Teknoturf Info Services Pvt Ltd,"Coimbatore, Tamil Nadu•Temporarily Remote","₹35,000 - ₹65,000 a month"
7,PHP Developer,VarNik Systems Services,"Tiruchchirappalli, Tamil Nadu","₹35,000 - ₹65,000 a month"
8,PHP Web Developer (Trainee),"Bootsgrid Pvt, Ltd","Madurai, Tamil Nadu","₹7,000 - ₹10,000 a month"
9,Looking for PHP Developer,Kasthuri Group,"Chennai, Tamil Nadu","₹35,000 a month"
10,Full Stack Engineer / PHP Developer,Qbrik Information Technologies (P) Ltd,"Chennai, Tamil Nadu•Temporarily Remote","₹3,00,000 - ₹10,00,000 a year"
11,PHP Developer,SSK WEB TECHNOLOGIES,"Erode, Tamil Nadu","₹3,00,000 - ₹10,00,000 a year"
12,PHP Developer,Pentaxial Technologies,"Madurai City, Tamil Nadu•Temporarily Remote","₹12,000 a month"
13,Software Developer,LateShipment.com,"Chennai, Tamil Nadu","₹50,000 a month"
14,PHP Developer-Work From Home,AES Technologies Pvt. Ltd.,"Coimbatore, Tamil Nadu•Remote","₹50,000 a month"